# Cache and logs (Symfony2)
/server/app/cache/*
/server/app/logs/*
!server/app/cache/.gitkeep
!server/app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/server/var/cache/*
/server/var/logs/*
/server/var/sessions/*
!server/var/cache/.gitkeep
!server/var/logs/.gitkeep
!server/var/sessions/.gitkeep

# Parameters
server//app/config/parameters.yml
server//app/config/parameters.ini

# Managed by Composer
server//app/bootstrap.php.cache
server//var/bootstrap.php.cache
server//bin/*
!server/bin/console
!server/bin/symfony_requirements

# Assets and user uploads
/server/web/bundles/
/server/web/uploads/

# PHPUnit
/server/app/phpunit.xml
/server/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
